@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none !important;
}

body {
  font-family: "Open Sans", sans-serif !important;
  background-color: #f8f8f8 !important;
}

/* body.dark {background-color: #112143 !important;} */

h1,h2,h3,h4,h5,h6,p{
  margin: 0px !important; padding: 0px !important;
}


::-webkit-scrollbar {
  width: 3px !important;
  height: 5px !important;
}

::-webkit-scrollbar-thumb {
  background: #0858f7;
}

.btn-blue {
  background: #0858f7 !important;
  font-size: 11px !important;
  font-weight: 600 !important;
  padding: 8px 10px;
  text-align: center;
  color: white !important;
  margin-top: 5px!important;
}

.btn-lg {padding: 7px 23px !important; font-size: 13px !important; margin-top: 0px !important; margin: 0 25px !important;}

.btn-round {border-radius: 10px !important;}

a {
  text-decoration: none !important;
  display: inline-block !important;
}

a:hover {
  text-decoration: none !important;
}

.full{max-width: 100% !important; flex: 0 0 100% !important; width: 100% !important;}


/* header */

header {
  width: 100%;
  height: 70px;
  background: #fff;
  padding: 12px 16px;
  position: fixed;
  top: 0; left: 0;
  z-index: 999;
}

body.dark header {background: #112143 !important;}

/* header .row {
  margin: 0px !important;
} */

header .logo {
  text-decoration: none;

}

header .row .part1 {
  padding: 0;
}

header .part2 {padding-left: 30px;}

.menu-Items-drop {
  position: relative;
}

header .logo img {
  height: 45px;
}

header .row .logo span {
  color: #403e57;
  font-size: 24px;
  font-weight: 900;
}

body.dark header .row .logo span {color: #e4e4e4;}

header button.rounded-circle {
  min-width: 40px !important;
  width: 40px !important;
  height: 40px !important;
  background: #E8EFFF;
  position: relative;
}

body.dark header button.rounded-circle {background: #132956 !important;}



header button.rounded-circle svg {
  font-size: 22px;
  color: #5e5d72;
}

body.dark header button.rounded-circle svg {color: #b4b4b4 !important;}

header button.rounded-circle svg:hover {
  color: #0858f7;
  transition: all 0 2s ease-in-out;
}

header .searchBox {
  width: 280px;
  height: 40px;
  background: #E8EFFF;
  border-radius: 8px;
  padding: 3px 15px !important;
}

body.dark header .searchBox {background: #132956; }

header .searchBox input {
  border: none;
  background: transparent;
  padding: 0 5px !important;
  width: 100%;
  outline: none;
  height: 100%;
  color: #5e5d72;
}


body.dark header .searchBox input {color: #b4b4b4 !important ;}


.searchBox .search-icon {
  color: #5e5d72;
  font-size: 24px;
  cursor: pointer;

}

body.dark .searchBox .search-icon {color: #b4b4b4;}

.userImg .rounded-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 40px;
  height: 40px;
}

.rounded-img {width: 40px; height: 40px; border-radius: 8px; border: 1px solid #f0f0f0; object-fit: cover; box-shadow:0 7px 15px 0 rgba( 0, 0, 0, 6%); }

.myAcc {
  text-align: left !important;
  gap: 0 7px;
  text-transform: capitalize !important;
  color: #0858f7 !important;
  position: relative;
}

.userImg .rounded-circle {
  border-color: #0858f7;
  border-radius: 50%;
  border-style: solid;
  width: fit-content;
  border-width: 1px;
  cursor: pointer;
}

.userImg .rounded-circle img {
  border: 2px solid #0000;
  height: 38.5px;
  width: 38px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
  object-position: top center;
}

.myAcc .userInfo {
  display: flex;
  flex-direction: column;
  gap: 3px;
  /* padding-left: 10px; */
}

.myAcc .userInfo h3 {
  font-size: 14px;
  color: #403e57;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}


body.dark .myAcc .userInfo h3{color: #e4e4e4 !important;}

.myAcc .userInfo p {
  font-size: 12px;
  color: #403e57;
  font-weight: 500;
  line-height: 1.2;
  margin: 0;
}

body.dark .myAcc .userInfo p {color:#b4b4b4 !important;}

#account-menu .MuiPaper-elevation {
  overflow: scroll !important;
}


#account-menu li {
  font-size: 15px !important;
  padding: 6px 10px;
}

body.dark #account-menu .MuiPaper-elevation {background-color: #132140; border: 1px solid #1b2b4d;}
body.dark #account-menu li {color: #b4b4b4;}
body.dark #account-menu li svg {color: #b4b4b4;}


#account-menu li svg {
  font-size: 20px !important;
}



/* Notification */




#notification .MuiPaper-elevation {
  width: 280px !important;
  right: 14% !important;
  left: auto !important;
  overflow: hidden  !important;
  top: 67px !important;
  margin-top: 6px !important;
}

body.dark #notification .MuiPaper-elevation {background-color: #132140 !important; border: 1px solid #1b2b4d;}
body.dark #notification li {color: #b4b4b4;}

#notification ul {
  padding: 8px !important;
}

.dropdown_list .head {
  padding: 10px 0 !important;
}



.dropdown_list .head h4 {
  font-size: 18px !important;
  font-weight: 700 !important;
  margin-bottom: 0 !important;
}

body.dark .dropdown_list .head h4 {color: #e4e4e4;}
body.dark .dropdown_list  hr {background: #1b2b4d;}

.drpodownInfo {
  padding-left: 15px;
}

.dropdown_list li.MuiButtonBase-root {
  background: #ebf6ff !important;
  margin-bottom: 4px !important;
  border-radius: 6px !important;
  padding: 10px !important;
}

body.dark .dropdown_list li.MuiButtonBase-root {background: #152B50 !important;}

.dropdown_list li.MuiButtonBase-root:hover {
  background: #d1dde7 !important;
  ;
}

.dropdown_list .scroll {
  max-height: 300px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.drpodownInfo h4 {
  font-size: 13px !important;
  font-weight: 500 !important;
  line-height: 18px !important;
  white-space: break-spaces;
  color: #403e57 !important;
  margin-bottom:  0 !important;

}

body.dark .drpodownInfo h4 {color: #e4e4e4 !important;}

.drpodownInfo h4 b {
  font-weight: 600 !important;
  margin-right: 5px;
}

.drpodownInfo p {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 0 !important;
}
body.dark .text-sky {
  color: #94b7ff;
  font-weight: 500;
}
.text-sky {
  color: #0858f7;
  font-weight: 500;
}


/* Email */

#email .MuiPaper-elevation {
  width: 280px !important;
  right: 18% !important;
  left: auto !important;
  overflow: hidden  !important;
  top: 67px !important;
  margin-top: 6px !important;
}
body.dark #email .MuiPaper-elevation {background-color: #132140 !important; border: 1px solid #1b2b4d;}
body.dark #email li {color: #b4b4b4 !important;}


#email ul {
  padding: 8px !important;
}

.email-message {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
  overflow: hidden;
}

.email-message p {
  font-size: 12px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 !important;
  color: rgb(94, 93, 114);
}

body.dark .email-message p {color: #b4b4b4 !important;}
body.dark .email-message h4 {color: #e4e4e4 !important;}

.email-message h4 {
font-size: 13px;
font-style: normal;
font-weight: 600;
overflow: hidden;
text-overflow: ellipsis;
text-transform: capitalize;
white-space: nowrap;
color: rgb(64, 62, 87);
}

body.dark .email-list.dropdown_list li.MuiButtonBase-root {  border-bottom: 1px solid #1b2b4d;}
.email-list.dropdown_list li.MuiButtonBase-root {
  background: white !important;
  margin-bottom: 4px !important;
  border-radius: 8px !important;
  padding: 10px !important;
  border-bottom: 1px solid #f0f0f0;
}

.email-list.dropdown_list li.MuiButtonBase-root:hover {
  background-color:#f1f1f1 !important;
}
body.dark .email-list.dropdown_list li.MuiButtonBase-root:hover {
  background-color:#253557!important;
}





/* Sidebar */
body.dark .main {background: #071739 ;}

.main .sidebarWraper {width: 20%; flex: 0 0 20%; transition: all 0.4s ;}

.main .sidebarWraper.toggle {width: 0%; flex: 0 0 0%; }

.main .sidebarWraper .sidebar {width: 20%; height: 100vh; max-height: calc(100% - 70px); position: fixed; top: 70px !important; left: 0px; background: #fff; padding: 20px 12px; overflow-y: scroll; overflow-x: hidden; transition: all 0.4s ;} 

body.dark .main .sidebarWraper .sidebar{background: #112143;}
.main .sidebarWraper.toggle .sidebar{left: -100%;}

.main .sidebarWraper .sidebar::-webkit-scrollbar{width: 3px !important;}
.main .sidebarWraper .sidebar::-webkit-scrollbar-thumb{background: #0858f7 !important;}
/* .main .sidebarWraper:hover .sidebar::-webkit-scrollbar{background: #0858f7 !important; } */

.main .sidebarWraper:hover .sidebar::-webkit-scrollbar-track {
  background: #f1f1f1 !important; /* Color of the scrollbar track */
}
.main .sidebarWraper:hover .sidebar::-webkit-scrollbar-track {
  background: transparent !important; /* Color of the scrollbar track */
}

.main .sidebarWraper .sidebar ul {margin-bottom: 0;}
.main .sidebarWraper .sidebar ul li {margin-bottom: 3px;}
.main .sidebarWraper .sidebar ul li button {color: #5E5D72 !important; text-align: left; justify-content: left; border-radius: 10px !important; align-items: center; text-transform: capitalize !important ; font-weight: 600; font-size: 15px ; font-family: "Open Sans", sans-serif !important; letter-spacing: 0 !important;     padding: 12px 8px; }

body.dark .main .sidebarWraper .sidebar ul li button {color: #b4b4b4 !important;}

.main .sidebarWraper .sidebar ul li button .icon {display: flex; align-items: center; justify-content: center; width: 25px; height: 25px;
margin-right: 10px;}
.main .sidebarWraper .sidebar ul li button .icon svg{font-size: 22px;}
.main .sidebarWraper .sidebar ul li button .arrow {margin-left: auto; display: flex; align-items: center; justify-content: center; width: 25px; height: 25px; transition: all 0.3s ease-in-out;}

.main .sidebarWraper .sidebar ul li button:hover {background: #f1f1f1 !important;}
body.dark .main .sidebarWraper .sidebar ul li button:hover {background: #253557 !important;}
.main .sidebarWraper .sidebar ul li button.active{background: #f1f1f1 !important;}
body.dark .main .sidebarWraper .sidebar ul li button.active{background: #2881e31a !important; color: #94b7ff !important;}

.main .sidebarWraper .sidebar ul li button.active .arrow {transform: rotate(90deg);}

.main .sidebarWraper .sidebar .submenu{margin: 0 20px  !important; border-left: 1px solid #e4e4e4; text-transform: capitalize !important;}

body.dark .main .sidebarWraper .sidebar .submenu {border-left: 1px solid #253557;}

.main .sidebarWraper .sidebar .submenu li { width: 100%;  }
.main .sidebarWraper .sidebar .submenu li a {color: #5E5D72 !important; padding-left: 20px; font-size: 14px !important; 
  font-weight: 500; transition: all 0.3s ; margin: 13px 0;}

 body.dark .main .sidebarWraper .sidebar .submenu li a {color: #b4b4b4 !important;}

.main .sidebarWraper .sidebar .submenu li a:hover {color: #0858f7 !important; border-left: 1px solid #0858f7; }
body.dark .main .sidebarWraper .sidebar .submenu li a:hover {color: #0858f7 !important; border-left: 1px solid #0858f7; }

.main .sidebarWraper .sidebar ul .submenuWrapper {transition: all 0.7s; height: 0px; overflow: hidden;}

.main .sidebarWraper .sidebar ul .submenuWrapper.colapsed .submenu {opacity: 0;}

.main .sidebarWraper .sidebar ul .submenuWrapper.colapse {height: auto !important; overflow: inherit; }
.main .sidebarWraper .sidebar ul .submenuWrapper.colapse .submenu {opacity: 1;}


.logoutWrapper .logoutBox {width: 100%;  padding: 45px; background: linear-gradient(rgba(8, 88, 247, 25%), rgb(8, 88, 247, 40%));  border-radius: 10px; display: flex; align-items: center; justify-content: center; position: relative; overflow: hidden;}

.logoutWrapper .logoutBox::before{content: ''; position: absolute; width: 80px; height: 80px; border-radius: 100%;     position: absolute;  right: -10px;  top: -40px;  z-index: 1; background: linear-gradient(rgba(8, 88, 247, 25%), rgb(8, 88, 247, 40%));}

.logoutWrapper .logoutBox::after{content: ''; position: absolute; width: 30px; height: 30px; border-radius: 50%;     position: absolute;  left: 15px;  top: 15px;  z-index: 1; background: linear-gradient(rgba(8, 88, 247, 25%), rgb(8, 88, 247, 40%));}

.logoutWrapper .logoutBox button {background: #286EF9  !important; font-size: 11px; padding: 12px 18px; font-weight: 600; border-radius: 10px;}
.logoutWrapper .logoutBox button svg {font-size: 16px !important; margin-right: 6px; font-weight: 600;}


/* Dashboard */


.main .content {width: 80%; flex: 0 0 80%; transition: all 0.4s ;}
.main .content.toggle {width: 100%; flex: 0 0 100%;}

.right-content {padding: 90px 30px;}
.dashboardBoxWrapper {gap: 20px; width: 100%; flex-wrap: wrap;}

.dashboardBoxWrapper .dashboardBox {width: 48%; border-radius: 10px; padding: 20px; position: relative; }

.dashboardBoxWrapper .dashboardBox .growIcon {position: absolute; opacity: 0.8; font-size: 150px; bottom: 0px; left: 0px; z-index: 1;     }

.dashboardBoxWrapper .dashboardBox.green .growIcon {color: rgb(26, 159, 83);}
.dashboardBoxWrapper .dashboardBox.purple .growIcon {color: rgb(190, 14, 225);}
.dashboardBoxWrapper .dashboardBox.blue .growIcon {color: rgb(43, 119, 229);}
.dashboardBoxWrapper .dashboardBox.yellow .growIcon {color: rgb(225, 148, 14);}

.dashboardBoxWrapper .dashboardBox.green{background: linear-gradient(270deg, rgb(78, 218, 137), rgb(26, 159, 83));}
.dashboardBoxWrapper .dashboardBox.purple {background: linear-gradient(270deg, rgb(237, 104, 255), rgb(190, 14, 225));}
.dashboardBoxWrapper .dashboardBox.blue {background: linear-gradient(270deg, rgb(100, 179, 246), rgb(43, 119, 229));}
.dashboardBoxWrapper .dashboardBox.yellow {background: linear-gradient(270deg, rgb(244, 208, 43), rgb(225, 148, 14));}

.dashboardBoxWrapper .dashboardBox .dashboardBoxHead {width: 100%; display: flex; align-items: flex-start; justify-content: space-between ; gap: 0px; margin-bottom: 40px;}
.dashboardBoxWrapper .dashboardBox .dashboardBoxHead h4 {font-size: 32px; color: #fff; text-transform: capitalize; font-weight: 700; margin-bottom: 0; opacity: 1; z-index: 1;}
.dashboardBoxWrapper .dashboardBox .dashboardBoxHead h4 span {font-size: 16px; display: block; font-weight: 500; margin-bottom: 7px;}

.dashboardBoxWrapper .dashboardBox .dashboardBoxicon {width: 50px; height: 50px;     
    border-radius: 10px; align-items: center; display: flex; justify-content: center;}

  .dashboardBoxWrapper .dashboardBox.green .dashboardBoxicon {background: linear-gradient(rgb(39, 191, 104), rgb(26, 159, 83)); color: rgb(137, 236, 179);}
  .dashboardBoxWrapper .dashboardBox.purple .dashboardBoxicon {color: rgb(243, 160, 255); background: linear-gradient(rgb(222, 47, 255), rgb(190, 14, 225));}
  .dashboardBoxWrapper .dashboardBox.blue .dashboardBoxicon {color: rgb(150, 206, 250); background: linear-gradient(rgb(64, 148, 241), rgb(43, 119, 229));}
  .dashboardBoxWrapper .dashboardBox.yellow .dashboardBoxicon {color: rgb(246, 224, 83); background: linear-gradient(rgb(237, 178, 19), rgb(225, 148, 14));}


  .dashboardBoxWrapper .dashboardBox .dashboardBoxicon svg {font-size: 28px !important;}

.dashboardBoxWrapperRow .box {width: 100%; height: 100%; background: linear-gradient(to bottom, #0858f7, #2262d3); border-radius: 10px;}


 .dashboardBoxFoot {width: 100%; display: flex; justify-content: space-between; align-items: center; text-align: center;}

.dashboardBoxFoot .boxFootDate h6 {font-size: 14px !important; text-transform: capitalize; color: #fff; margin-bottom: 0;}

 .boxFootIcon button {padding: 0; min-width: 0px !important;}
.dashboardBoxWrapper .dashboardBox.green .dashboardBoxFoot .boxFootIcon button {color: rgb(24, 125, 68);}
.dashboardBoxWrapper .dashboardBox.purple .dashboardBoxFoot .boxFootIcon button {color: rgb(168, 8, 195);}
.dashboardBoxWrapper .dashboardBox.blue .dashboardBoxFoot .boxFootIcon button{color: rgb(34, 98, 211);}
.dashboardBoxWrapper .dashboardBox.yellow .dashboardBoxFoot .boxFootIcon button{color: rgb(174, 100, 15);}

#last-time .MuiButtonBase-root {min-width: 0px !important;}

#last-time .MuiPaper-root {margin-top: 0px !important; border-radius: 8px !important;}
body.dark #last-time .MuiPaper-root {background: #112143 !important; }

#last-time .MuiPaper-root ul {padding: 6px !important;  width: 150px !important; text-transform: capitalize; color: #5e5d72 !important;}
body.dark #last-time .MuiPaper-root ul { color: #b4b4b4 !important; }
#last-time .MuiPaper-root ul li {font-size: 14px; padding: 6px !important;}

#last-time .MuiPaper-root .MuiListItemIcon-root {min-width: 0 !important;}

#last-time .MuiPaper-root .MuiListItemIcon-root svg {margin-right: 5px;}
body.dark #last-time .MuiPaper-root .MuiListItemIcon-root svg { color: #b4b4b4 !important;}
.graphBox {padding: 2px !important; font-family: "Open Sans", sans-serif !important; overflow: hidden;}

.graphBoxDetails {padding: 20px !important;}

.graphBox .dashboardBoxFoot {margin-bottom: 18px !important;}

.graphBox .dashboardBoxFoot .boxFootDate h6 {font-size: 17px !important;}

.graphBox .dashboardBoxFoot .boxFootIcon button svg {color: #fff !important; font-size: 24px !important; font-weight: 700;}

.graphBox .graph-sale-amount h3 {font-size: 26px !important; color: #fff; font-weight: 700; line-height: 1.2;}

.mc-sales-card-compare{color:#c1e1fc; font-size: 13px;}

.CRUD-dropdown button svg {color: #5e5d72;}

#last-time.menu-show .MuiPaper-root {border: 1px solid #f0f0f0 !important; }
body.dark #last-time.menu-show .MuiPaper-root {border: 1px solid #1b2b4d !important; }
/* **************** */

.table-card {width: 100%; background: #fff;  margin: 24px 0px; border-radius: 10px; padding: 20px;}
body.dark .table-card{background: #112143 !important;}
.table-card {box-shadow: 0 15px 25px 0 rgba(0,0,0, 6%);}

body.dark .table-card .MuiDataGrid-root.MuiDataGrid-root--densityStandard {border: 1px solid #253557;}

body.dark .table-card .MuiDataGrid-footerContainer  {border: 1px solid #253557;}


body.dark .table-card .CRUD-dropdown svg  {color: #fff;}
body.dark .table-card .MuiDataGrid-selectedRowCount   {color: #b4b4b4;}

.table-card-header {display: flex; justify-content: space-between;}
.card-header-tital{font-size: 17px; font-weight: 700; text-transform: capitalize; color: #403e57;}
body.dark .card-header-tital {color: #e4e4e4 !important;}
.table-data-select{display: flex; width: 100%;}

.table-data-select .col {width: 25%;flex: 0 0 auto;}

.mc-label-field-title {  color:#403e57;  font-size: 12px;  font-weight: 700;  text-transform: uppercase;}
body.dark .mc-label-field-title {color: #e4e4e4 !important;}
.table-data-select .col .mc-label-field-group .mc-label-field-select, .mc-label-field-search-input {background-color: #F0F0F0; height: 45px; background-repeat: no-repeat; border-radius: 8px; border: 1px solid #e4e4e4; outline: none;  padding: 0px 15px !important; font-size: 14px; font-weight: 500;  color: #5e5d72; width: 100%; }

body.dark .table-data-select .col .mc-label-field-group .mc-label-field-select,
body.dark .table-data-select .col .mc-label-field-group .mc-label-field-search-input {background-color: #1A294A !important; border: 1px solid #253557; color: #b4b4b4;}

.table-data-select .col .mc-label-field-group .mc-label-field-select {text-transform: capitalize; cursor: pointer;}


.mc-label-field-group {display: flex; flex-direction: column; align-items: flex-start; width: 100%; }

.table-card-details {margin: 24px 0px;}

.table-card-details .MuiDataGrid-row--borderBottom.css-yseucu-MuiDataGrid-columnHeaderRow {    background: linear-gradient(to top, #0858f7, #2b77e5) !important; color: #fff; text-transform: uppercase; font-size: 12px !important;  }

.table-card-details 
.MuiDataGrid-row--borderBottom.css-yseucu-MuiDataGrid-columnHeaderRow
.MuiDataGrid-columnHeaderTitle {
  font-size: 12px !important; font-weight: 600 !important; 
}

.table-card-details .MuiDataGrid-columnHeader.MuiDataGrid-columnHeader--sortable {padding: 13px 15px !important;}

.table-card-details .MuiDataGrid-cell.MuiDataGrid-cell--textLeft {border: 0.5px solid #f0f0f0; display: flex; align-items: center; padding: 15px !important; font-size: 14px; color: #5e5d72; font-weight: 400; }

body.dark .table-card-details .MuiDataGrid-cell.MuiDataGrid-cell--textLeft { border: 1px solid #1b2b4d; color: #b4b4b4;}

.row-id {font-size: 14px !important; font-weight: 600 !important; color: #5e5d72; margin: 0px !important;}
body.dark .row-id {color: #b4b4b4 !important;}
.table-action { display: flex; justify-content: center; align-items: center; gap: 8px; }
.table-action button { width: 28px; height: 28px; border-radius: 10px;  border: 0; display: flex; justify-content: center; align-items: center; cursor: pointer;}
.table-action button svg {font-size: 14px;}
.table-action button:hover svg {font-size: 16px;}
.table-action button.view-icon { background-color: #fbe5ff !important;  color: #be0ee1 !important;}
.table-action button.edit-icon { background-color: #ddfbe9 !important;  color: #1a9f53 !important;}
.table-action button.delete-icon { background-color: #ffdfe4 !important;  color: #f11133 !important;}

body.dark .table-action button.view-icon { color: #fff !important;  background-color: #be0ee1 !important;}
body.dark .table-action button.edit-icon { color: #fff !important; background-color: #1a9f53 !important;}
body.dark .table-action button.delete-icon { color: #fff !important; background-color: #f11133 !important;}


.mc-table-product-data {width: 100%; height: 100%; display: flex; justify-content: flex-start; align-items: center; gap: 0 8px;}

.mc-table-product-name-data {height: 100% !important;  text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}

.mc-table-product-name-data h5 {overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; font-size: 14px; font-weight: 500;  margin-bottom: 5px !important; color: #403e57 !important;}
.mc-table-product-name-data h6 {font-size: 13px;  line-height: 18px; overflow: hidden;  text-overflow: ellipsis !important;  white-space: nowrap; font-weight: 400;}

body.dark .mc-table-product-name-data h5 {color: #e4e4e4 !important;}


.price-data {color: #ff6179; font-size: 14px; height: auto !important; font-weight: 500 !important; }
.oldPrice {color: #5e5d72; font-size: 14px; height: auto !important; text-decoration: line-through; margin-bottom: 5px !important; line-height: 1.5rem; font-weight: 400 !important;}
body.dark .oldPrice {color: #b4b4b4 !important;}

.star-rating {display: flex; justify-content: flex-start; gap: 3px; align-items: center;}
.starIcon {color: #edb213; font-size: 18px !important;}

.star-rating h3 {font-size: 14px !important; line-height: 18px; font-weight: 700 !important; color: #403e57 !important;}
body.dark .star-rating h3 {color: #e4e4e4 !important;}

body.dark .table-card .MuiTablePagination-displayedRows {color: #b4b4b4;}
body.dark .table-card .MuiButtonBase-root.Mui-disabled{color: #b4b4b4;}

/* ************* */

.card-revenue-header {display: flex; justify-content: space-between; margin-bottom: 28px;}

.card-revenue-header .card-revenue-select{background: #f8f8f8; border-color: #f0f0f0; display: flex; justify-content: flex-start; border: 1px solid #e4e4e4; border-radius: 8px; padding: 0px 12px !important; align-items: center; width: 200px; height: 42px;  }
.card-revenue-header .card-revenue-select select{background: transparent; color: #5E5D72; font-size: 14px; border: none; padding: 0px 12px !important; outline: none; text-transform: capitalize; width: 100%;}

body.dark .card-revenue-header .card-revenue-select { background: #071739 !important; border: 1px solid #253557;}
body.dark .card-revenue-header .card-revenue-select select {color: #b4b4b4 !important; background: #071739 !important;}
body.dark .card-revenue-header .card-revenue-select svg {color: #b4b4b4;}
.card-revenue-header .card-revenue-select:focus-within i {color: #0858f7;}


.card-revenue-group {display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; margin-bottom: 24px !important; gap: 25px;}


.card-revenue-group-report {display: flex; justify-content: center; align-items: center; gap: 15px;}
.card-revenue-group-report svg {font-size: 35px !important;}

.card-revenue-group-report h3  {font-size: 20px !important; font-weight: 700; color: #403e57 !important;}
.card-revenue-group-report h3 span {color: #5e5d72; display: block; font-size: 14px !important; font-weight: 400; margin-bottom: 5px !important; text-transform: capitalize;}

body.dark .card-revenue-group-report h3 {color: #e4e4e4 !important;}
body.dark .card-revenue-group-report h3 span {color: #b4b4b4 !important;}



/* login */

#login {width: 100%; position: relative; z-index: 1;}

.pattern-img {height: 100%;  left: 0;  opacity: .08;  position: absolute;  top: 0;  width: 100%;  z-index: -1;}
.loginBox{margin: 0 auto; max-width: 360px; text-align: center; padding: 30px 0 50px;}
.auth-img-login img {height: 55px ;}
.auth-img-login {margin-bottom: 10px !important; display: inline-block !important;}

.login-title{font-size: 20px !important; font-weight: 600 !important; color: #403e57 !important;}

body.dark .login-title {color: #e4e4e4 !important;}

.login-wrapper {width: 100% !important; background: #f0f0f0; border: 1px solid #e4e4e4; padding: 35px; margin: 25px 0; border-radius: 10px;}

body.dark .login-wrapper {background: #1b2b4d !important; border: 1px solid #253557;}

.input-groups {width: 100%; background: #fff; border-radius: 8px; display: flex; justify-content: flex-start; padding: 0 12px !important; border: 1px solid #e4e4e4; align-items: center; height: 42px; margin-bottom: 20px;}
body.dark .input-groups {background: #071739 !important; border: 1px solid #253557;}
.input-groups input {width: 100%; height: 100%; border: none !important; outline: none !important; background: transparent !important; padding: 0 12px; font-size: 15px; color: #5e5d72;}
body.dark .input-groups input {color: #b4b4b4 !important;}
body.dark input::placeholder  {color: #b4b4b4 !important; opacity: 1;}
.input-groups:focus-within {border: 1px solid #0858f7;}
.input-groups > svg {font-size: 20px; color: #5e5d72;}
body.dark .input-groups > svg {color: #b4b4b4;}
.input-groups:focus-within > svg {color: #0858f7; transition: all 0.6s ;}

.input-groups select {width: 100%; height: 100%; border: none !important; outline: none !important; background: transparent !important; padding: 0 12px; font-size: 15px; color: #5e5d72; text-transform: capitalize;}
body.dark .input-groups select {color: #b4b4b4 !important; background: #071739 !important;}

.visitButton{width: auto; min-width: auto !important; opacity: 0;}
body.dark .visitButton > svg{color:#b4b4b4 !important ;}
.visitButton:hover {background: none;}
.visitButton > svg {font-size: 20px; color: #5e5d72 !important; }
.input-groups:focus-within .visitButton {opacity: 1; transition: all 0.3s linear; -webkit-transition: all 0.3s linear;}
 .passwordButton {font-size: 14px !important; letter-spacing: 2px !important; width: 100%; border-radius: 10px !important; height: 42px; margin: 0 0 10px 0 !important;}

.forgot-link {font-size: 12px !important; font-weight: 500 !important; color: #5e5d72; text-transform: uppercase; text-decoration: none; display: inline-block !important;}
body.dark .forgot-link {color: #b4b4b4 !important;}


.forgot-link:hover {text-decoration: underline !important; font-weight: 600 !important;}


.login-divide {margin: 15px 0 18px; position: relative; text-align: center; z-index: 1;}
.login-divide::after{width: 100% !important; height: 1px !important;background-color: #d1d1d1 !important; position: absolute; top: 17px; content: ""; left: 0; z-index: -1;}
body.dark .login-divide::after {background-color: #31436a !important; }


.login-divide span {background-color: #f0f0f0; color: #5e5d72; border: 1px solid #d1d1d1; width: 36px !important; height: 36px !important; font-size: 15px !important; display: inline-block; line-height: 32px; border-radius: 50%;}
body.dark .login-divide span {background-color: #1b2b4d !important; color: #b4b4b4 !important;  border: 1px solid #31436a;}

.login-social {display: flex; flex-direction: column; gap: 15px;}

.login-social button {height: 42px; border-radius: 10px !important; text-transform: capitalize; font-size: 15px !important; font-weight: 500 !important; display: flex; gap: 0 10px; align-items: center;}

.login-social button svg {font-size: 15px !important; }

.login-social button.twitter{background: #00acee !important;}
.login-social button.facebook{background: #3b5998 !important;}

.form-auth-navigation {display: flex; gap: 5px; padding: 20px !important; justify-content: center; align-items: center; background: #f0f0f0; border: 1px solid #e4e4e4; border-radius: 10px; font-size: 15px !important; }
body.dark .form-auth-navigation {background: #1b2b4d !important; border: 1px solid #253557;}

.form-auth-navigation > span {color: #5e5d72;}
body.dark .form-auth-navigation > span {color: #b4b4b4;}
.form-auth-navigation .link-nave {color: #0858f7 !important; text-transform: capitalize; font-weight: 500 !important; }

.form-auth-navigation .link-nave:hover {text-decoration: underline !important;}



/* register */

#register {width: 100%; display: flex; height: 100%;}

.register-banner {width: 65%; height: 100%; display: flex; justify-content: center; align-items: center; position: relative; z-index: 1;  background: linear-gradient(to right, #f0f0f0, #f8f8f8);}
body.dark .register-banner {    background: linear-gradient(to right, #1b2b4d, #071739);}
.register-banner-content {max-width: 700px ; padding: 30px;}

.register-banner-content h2 {font-size: 45px !important; font-weight: 900 !important; margin-bottom: 15px !important; text-transform: uppercase; color: #403e57;}
body.dark .register-banner-content h2 {color: #e4e4e4 !important;}

.register-banner-content p {font-size: 17px !important; margin-bottom: 40px !important; line-height: 1.8; color: #5e5d72; }
body.dark .register-banner-content p {color: #b4b4b4 !important;}

.home-go-to {font-size: 13px !important; font-weight: 600 !important; text-align: center; padding: 14px 22px !important; letter-spacing: .5px; border-radius: 10px !important;}

.home-go-to svg {font-size: 20px !important; margin-right: 6px !important; vertical-align: middle;}

.register-form {width: 35%; height: 100%; background: #f0f0f0; text-align: center; padding: 30px 60px 50px !important;}
body.dark .register-form {background: #1B2B4D;}
.register-navigation { display: flex; gap: 5px; margin-top: 25px !important; justify-content: center; align-items: center;  font-size: 15px !important; }
.register-navigation > span {color: #5e5d72;}
body.dark .register-navigation > span {color: #b4b4b4 !important;}
.register-navigation .link-nave {color: #0858f7 !important; text-transform: capitalize; font-weight: 500 !important;}

.register-form .login-title {margin-bottom: 25px !important;}

.input-checkBox {display: flex;  gap: 8px; margin-bottom: 20px !important;}
.input-checkBox input {cursor: pointer; flex-shrink: 0; height: 16px; width: 16px; margin-top: 2px !important;}
.input-checkBox label {font-size: 15px !important; display: inline-block; cursor: pointer ; text-align: left; color: #5e5d72;}
body.dark .input-checkBox label {color: #b4b4b4 !important;}

